.plot-container div div svg {
	max-width: 100%!important; /* For ggiraph outputs inside .pull-left elements; otherwise, plots are not displayed */
	max-height: 100%!important;
}

#global_budget table tbody tr:last-child td:last-child {
	background: #ececec;
	border: 1px solid #d2cfcf!important;
}

#weighted_key table tbody tr:last-child td:last-child {
	background: #ececec;
	border: 1px solid #d2cfcf!important;
}

#weighted_key table tbody tr:nth-last-child(2) td:last-child {
	background: #ececec;
	border: 1px solid #d2cfcf!important;
}

#negative_emissions table tbody tr:last-child td:last-child {
	background: #ececec;
	border: 1px solid #d2cfcf!important;
}

table > tbody > tr > td {
	border-top:0px!important;
}

.info-box {
	z-index: 101; 
	opacity:1; 
	background-color: white;
	border: 1px solid gray;
	font-size: 14px;
	padding:15px;
	text-align: justify;
	overflow: auto;
	border-radius:10px;
	position:absolute;
	width:350px;
}

.author-box {
	z-index: 101; 
	width:680px;
	background-color: lightgrey;
	font-size: 14px;
	padding:15px;
	text-align: justify;
	overflow: auto;
	border-radius:10px;
	position:absolute;
	right:30px;
	top:50px;
}

.modal-body {
	text-align:justify;
}

#selected_rm {
	margin-bottom:30px!important;
}

#emis_pathway {
	width:inherit;
}
